<html>
  <head>
    {% if title %}
    <title>{{ title | upper }}-鹏程口腔之家</title>
    {% else %}
    <title>鹏程口腔</title>
    {% endif %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
<header class="header">
  <ul>
    <li class="cor-1"></li>
    <li class="cor-2"></li>
    <li class="cor-3"></li>
    <li class="cor-4"></li>
    <li class="cor-5"></li>
  </ul>
  </header>
<div class="wrap">


<nav class="menu">
  <ul>
    <li>
      <a href="#">文章</a>
    </li>
    <li>
      <a href="#">归档</a>
    </li>
    <li>
      <a href="#">关于</a>
    </li>
  </ul>
  </nav>
    <aside class="sidebar">
      <div class="widget">
      <h2>shonm</h2>
      <p>Hello, my name is <b>Shonm</b>. I’m 28 years old. I live in <b>ShenZhen (China)</b>. I am a <b>Pythoner</b>.<br> Contact Me:<br><b>342698145@qq.com</b></p>
      </div>
      <div class="widget">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

  </aside>
    {% block content %}{% endblock %}
</div>
</body>
</html>